h3 {
  margin-top: 0;
  text-align: center;
}

.row {
  padding: 2rem 0;
  background-image: linear-gradient(to right, #bde4f4, #66c1e5);
}

.inventory-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;

  margin-top: 3rem;
}

@media (max-width: 1218px) {
  .inventory-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .inventory-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.inventory {
  display: flex;
  flex-direction: column;

  padding: 2.5rem;
  border: 1px solid #888;

  font-size: 1.5rem;
}
@media (max-width: 576px) {
  .inventory {
    padding: 1rem;
    font-size: 1rem;
  }
}

.inventory-details {
  font-size: 1.75rem;
  gap: 1rem;
}

.inventory-details p span {
  font-weight: bold;
}

.inventory-btn {
  display: flex;
  gap: 1rem;

  margin-top: 2rem;
}

@media (max-width: 768px) {
  .inventory {
    padding: 1.5rem;
    font-size: 1.25rem;
  }
  .inventory-details p {
    text-align: center;
  }
  .inventory-btn {
    justify-content: center;
  }
}
