<div class="row">
  <div class="form-div col-xs-12 col-md-8 col-md-offset-2">
    <h3>Enter Details</h3>
    <form action="" (ngSubmit)="onEdit(f)" #f="ngForm">
      <div class="form-group">
        <label for="name">Item Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          ngModel
          name="name"
          #name="ngModel"
          required
        />
        <span class="help-block" *ngIf="!name.valid && name.touched"
          >Please enter a valid item name!</span
        >
      </div>
      <div class="form-group">
        <label for="desc">Description</label>
        <input
          type="text"
          class="form-control"
          id="desc"
          ngModel
          name="desc"
          #desc="ngModel"
          required
          minlength="10"
        />
        <span class="help-block" *ngIf="!desc.valid && desc.touched"
          >Please enter atleast 10 characters!</span
        >
      </div>
      <div class="form-group">
        <label for="quantity">Quantity</label>
        <input
          type="number"
          class="form-control"
          id="quantity"
          ngModel
          name="quantity"
          #quantity="ngModel"
          required
        />
        <span class="help-block" *ngIf="!quantity.valid && quantity.touched"
          >Please enter a valid quantity!</span
        >
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <input
          type="number"
          id="price"
          class="form-control"
          ngModel
          name="price"
          #price="ngModel"
          required
        />
        <span class="help-block" *ngIf="!price.valid && price.touched"
          >Please enter a valid price!
        </span>
      </div>
      <div class="btn-edit-form">
        <button class="btn btn-primary" type="submit" [disabled]="!f.valid">
          Edit Item
        </button>
        <button
          class="btn btn-warning"
          (click)="goBack()"
          *ngIf="editConfirmation"
        >
          Go Back
        </button>
      </div>
    </form>
    <p class="success-msg" *ngIf="editConfirmation">
      Item edited successfully!
    </p>
  </div>
</div>

<!-- *ngIf="editConfirmation" -->
